/* whole nav div */
.app__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--color-black);
    padding: 1rem 2rem;
}

/* img div */
.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* nav img logo */
.app__navbar-logo img{
    width: 150px;
}

/* nav links */
.app__navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav individual links */
.app__navbar-links li {
    list-style: none;
    margin: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .3s;

}

.app__navbar-links li:hover{
    border-bottom: 1px solid var(--color-golden);
    color: var(--color-grey);
}

/* login container */
.app__navbar-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app__navbar-login a{
    margin: 0 1rem;
    text-decoration: none;
    transition: .3s;
    border-bottom: 1px solid transparent;

}

/* on hover */
.app__navbar-login a:hover{
    border-bottom: 1px solid var(--color-golden);

}


.app__navbar-login div {
    width: 1px;
    height: 30px;
    background-color: var(--color-grey);
}

.app__navbar-smallscreen{
    display: none;
}

.app__navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    transition: .3s ease;
    flex-direction: column;
    z-index: 5;
}

/* close button on mobile screens */
.app__navbar-smallscreen_overlay .overlay__close{
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen-links{
    list-style: none;
}

.app__navbar-smallscreen-links li{
    color: var(--color-golden);
    margin: 2rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
    transition: .3s ease;
}

.app__navbar-smallscreen-links li:hover{
    color: var(--color-white);
}




/* for wider screens` */
@media screen and (max-width: 2000px) {
    .app__navbar-logo img{
        width: 210px;
    }
}


/* media query for displaying smallscreen */
@media screen and (max-width: 1150px) {
    .app__navbar-links{
        display: none;
    }
    .app__navbar-smallscreen{
        display: flex;
    }
}

/* for mobile device */
@media screen and (max-width: 650px) {
    .app__navbar{
        padding: 1rem;
    }

    .app__navbar-login{
        display: none;
    }
    .app__navbar-logo img{
        width: 110px;
    }
}